.calendar {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.days-of-week, .days {
  display: contents;
}

.day-name,
.day,
.empty-day {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: top;
  flex-direction: column;
  padding: 5px;
  color: gray;
  font-size: 10px;
}


.week-day-name {
  width: auto;
  height: 30px;
  display: flex;
  justify-content: top;
  flex-direction: column;
  padding: 5px;
  color: gray;
  font-size: 10px;
}

.day-name {
  font-weight: bold;
}

.day {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
}

.day:hover {
  background-color: #e0e0e0;
}

.empty-day {
  border: 1px solid transparent;
}

.events {
  margin-top: 5px;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.hour {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.time {
  width: 60px;
  font-weight: bold;
}

.events {
  flex: 1;
}

.date-text {
  font-size: 14px;
  font-weight: 700;
}

